################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Unity/Basic_Tower_Defence/.vs/Basic_Tower_Defence/v16
